.conProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(to top right, rgba(255, 0, 0, 0.184), rgba(0, 26, 255, 0.337));
    
}

.profileImg{
    border: 1px solid black;
    height: 90px;
    width: 90px;
    border-radius: 90px;
}

.profileImgEdit{
 display: flex;
  
}

.inputPart{
    padding: 15px;
    border-radius: 10px;
}

label p{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.logoutBtn button {
    width: 150px;

}