.reset-container{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0 auto;
        gap: 20px;
        background-image: linear-gradient(to top right, rgba(255, 0, 0, 0.184), rgba(0, 26, 255, 0.337));
}

.details-input {
    /* border-bottom: 1px solid black; */
    /* height: 5vh; */
    width: 300px;
    margin: auto;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px;
    /* padding-left: 2vw; */
    border-radius: 15px;
  
}

.resetform input{
    margin-top: 15px;

}

.regetpass-button{
    margin-top: 20px;
        margin-left: 120px;
}

.regetpass-button button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    transition: 1s linear all;
}

.regetpass-button button:hover {
    background-image: linear-gradient(to top right, rgba(255, 0, 0, 0.184), rgba(0, 26, 255, 0.337));
    padding: 15px;
    font-size: 17px;
}

.errormessage {
    color: red;
    font-size: small;
    width: 250px;
}

.pleasewait {
    font-size: 18px;
    text-decoration: none;
    color: green;
}